@charset "ISO-8859-1";

html, body {
	height: 100%;
}

body {
	background-image: url("assets/img/beach-rocks.jpg");
	background-color: #f5f5f5;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*
.form-home {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
*/
